<div class="row mb-3">
  <div class="col">
    <h1>Productos que he construido.</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="card bg-transparent border-white">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between border-bottom pb-2 mb-2">
          <span>Waki</span>
          <img src="../../../../../assets/images/blanco.png" style="max-height: 30px;" alt="waki">
        </div>
        <div class="row">
          <div class="col-sm-3">Cliente</div>
          <div class="col-sm-9">Waki Holdings.</div>
        </div>
        <div class="row">
          <div class="col-sm-3">Industria</div>
          <div class="col-sm-9">Tecnología Financiera.</div>
        </div>
        <div class="row">
          <div class="col-sm-3">Enlace</div>
          <div class="col-sm-9"><a href="https://www.waki.com.pe/">waki.com.pe</a></div>
        </div>
      </div>
    </div>
  </div>
</div>