body {
    font-family: $body-primary-font;
    font-weight: 400;
    font-style: normal;
    background-color: $body-bg;
}

h1, h2, h3, h4, h5, h6 {
    margin-left: 0;
    margin-right: 0;
    color: $headings-main-color;
    margin-bottom: 0.3em;
}

h1 { 
    color: $headings-feature-color;
    font-family: $headings-title-font;
    font-weight: 400;
    display: block;
    font-size: 72px;
}

h2 {
    color: $headings-muted-color;
    font-family: Arimo;
    font-weight: 700;
    display: block;
    font-size: 52px;
}

h3 {
    font-family: $headings-title-font;
    font-weight: 400;
    display: block;
    font-size: 32px;
}

h4 {
    font-family: Arimo;
    font-weight: 400;
    display: block;
    font-size: 26px;
}

a {
    font-family: $body-primary-font;
    font-weight: 300;
    text-decoration: none;
    color: $main-white;
}

a:hover {
    font-family: $body-primary-font;
    font-weight: 300;
    text-decoration: none;
    color: $main-white;
}