html,
body {
  height: 100%;
  background-color: $body-bg;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: $secondary-font-color;
}

a,
a:focus,
a:hover {
  color: $secondary-font-color;
}

p {
  font-weight: 400;
}
