@import "./src/styles.scss";

nav {
  position: fixed;
  top: 0px;

  ul {
    padding-top: 4.5em;
  }
  .nav-item {
    margin-bottom: 100px;
    width: 50%;
    .nav-link {
      color: white;
      text-align: center;
      font-size: 0.7rem;
      letter-spacing: 0.1rem;
      transform: rotate(-90deg);
      width: 99px;
      padding: 5px;
      @include media-breakpoint-down(sm) {
        transform: none;
        display: none;
      }
    }
    .active {
      @extend .nav-link;
      background-color: #400082;
    }
  }
}
