@import "./src/styles.scss";
:host {
  nav {
    padding: 4.2rem 0 0 0;
    .nav-item {
      margin-bottom: 100px;
      .nav-link {
        color: white;
        text-align: center;
        font-size: 0.7rem;
        letter-spacing: 0.1rem;
        transform: rotate(-90deg);
        width: 99px;
        padding: 5px;
        @include media-breakpoint-down(sm) {
          transform: none;
          display: none;
        }
      }
      .active {
        @extend .nav-link;
        background-color: #400082;
      }
    }
  }
}
