<header>    
    <div class="collapse text-white" id="navbarHeader">
        <div class="container">
            <div class="row text-right">
                <div class="col-sm">
                    <a *ngFor="let social of socials" href="{{ social.link }}"><img src="{{ social.img }}" class="social" alt="social"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="#" class="navbar-brand d-flex align-items-center">
            <h2><strong>{{title}}</strong></h2>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="text-white">Contáctame</span>
            </button>
        </div>
    </div>
</header>