<div class="w-100 h-100 p-3 d-flex flex-column">
    <header class="cover-container w-100 mx-auto mb-auto">
        <div class="inner">
            <h3 class="masthead-brand">Yonny Vizcaya</h3>
            <top-navigation></top-navigation>
        </div>
    </header>

    <main role="main" class="inner">
        <div class="cover-container w-100 mx-auto">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>,
                by <a
                    href="https://twitter.com/mdo">@mdo</a>.</p>
        </div>
    </footer>
</div>