<div class="overlay"></div>
<video class="video" playsinline="playsinline" autoplay="autoplay"
    muted="muted" loop="loop">
    <source src="../../../../assets/img/Love-Coding.mp4"
        type="video/mp4">
</video>
<div class="content w-100 h-100 p-3 d-flex flex-column">
    <header class="w-100 mx-auto mb-auto">
        <div class="inner">
            <h1 class="masthead-brand">Yonny <br>Vizcaya</h1>
            <top-navigation></top-navigation>
        </div>
    </header>

    <main role="main" class="inner">
        <div class="w-100 mx-auto">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>CONTACT <br>[LINKEDIN]</p>
        </div>
    </footer>
</div>