/*
* Layout Rules:
* Divide page into sections, holds modules together. 
* Mayor layouts tradionally uses ID selectors. 
* 
* Table of contents:
* - 
* 
* */

/* Margin Variables */
$main-margin: 10px 10%;

#header {
    @include layoutFlex();
    @include directionFlex(row);
    @include justifyContent(space-between);

    border: 1px solid black;
    padding: $main-margin;
}

#main {
    @include layoutFlex();
    @include directionFlex(row);

    border: 1px solid black;
    padding: $main-margin;
}