// Colors Variables
//
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Theme Colors
$main-white: #fcfafa;
$main-red: #fd6574;
$main-gray: #c8d3d5;
$main-dark-blue: #6e8387;
$main-dark-green: #0cca4a;
$main-light-green: #6ce559;

// Color Map System
$theme-colors: (
  "theme-white": $main-white,
  "theme-red": $main-red,
  "theme-gray": $main-gray,
  "theme-dark-blue": $main-dark-blue,
  "theme-dark-green": $main-dark-green,
  "theme-light-green": $main-light-green
);

//
// Color system
//

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Body Color Variables
//
// Settings for the `<body>` element.
$body-bg: #222222;
$body-color: #e4e4e4;

// Font Color Variables
//
$main-font-color: $white;
$secondary-font-color: $gray-400;

// Bottons Color Variables
//
$main-btn-color: $main-white;
