// Theme Colors
$main-white: #FCFAFA;
$main-red: #fd6574;
$main-gray: #C8D3D5;
$main-dark-blue: #6E8387;
$main-dark-green: #0CCA4A;
$main-light-green: #6CE559;

// Element Colors
$body-bg: $main-white;
$body-font-color: $main-dark-blue;

$header-bg-color: $main-dark-blue;
$header-font-color: $main-white;

$headings-main-color: $main-dark-blue;
$headings-feature-color: $main-dark-blue;
$headings-muted-color: $main-gray;