// @font-face {
//     font-family: 'MyWebFont';
//     src: url('webfont.eot'); /* IE9 Compat Modes */
//     src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//          url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
//          url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
//          url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
//          url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
//   }

@font-face {
    font-family: 'Arimo';
    src: url('assets/fonts/Arimo/Arimo-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
  }

@font-face {
    font-family: 'Arimo';
    src: url('assets/fonts/Arimo/Arimo-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
  }

@font-face {
    font-family: 'RobotoSlab';
    src: url('assets/fonts/Roboto_Slab/RobotoSlab-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'RobotoSlab';
    src: url('assets/fonts/Roboto_Slab/RobotoSlab-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

$primary-font:    Arimo;
